CAREER/n8n/n8n-firecrawl-linkedin-post/Cleaned_Firecrawl_Linkedin_Post.json
{
  "name": "Firecrawl Linkedin Post",
  "nodes": [
    {
      "parameters": {
        "content": "# Firecrawl Agent\n\n- Note that GPT 4o mini wouldn't work, and requires models that are more heavy weighted. \n",
        "height": 400,
        "width": 1000
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        -120
      ],
      "id": "44802d70-f075-49b3-a63c-4809715152db",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Store Data",
        "height": 400,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        -120
      ],
      "id": "db6890ef-6390-47e4-a174-6b60649aa724",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Get Screenshot \n",
        "height": 520,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        300
      ],
      "id": "cdc5b488-d463-403b-a8de-b03445ce845a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Generate Image",
        "height": 520,
        "width": 700,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "c941ca31-375e-4bd8-8ac4-7f96900b1c4e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        40
      ],
      "id": "b5eb4dc4-b438-4f87-bf2b-adff69d2c2d4",
      "name": "When chat message received",
      "webhookId": "{{ WEBHOOK_ID }}"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        740,
        0
      ],
      "id": "7792558a-670a-4cbc-9a09-5e52c2259d86",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "={{ $json.data.screenshot }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        500
      ],
      "id": "57fb8a46-4f4b-4a41-88ea-a40a38ddfb0d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "name": "Screenshot - {{Screenshot file}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1azN3veijsFW0mJzJQ5D7C0bUAf4JN-B6",
          "mode": "list",
          "cachedResultName": "Screenshots ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1azN3veijsFW0mJzJQ5D7C0bUAf4JN-B6"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        60,
        380
      ],
      "id": "2a9c7e3b-9feb-496a-975e-493e13419661",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{ CREDENTIAL_ID }}",
          "name": "{{ CREDENTIAL_NAME }}"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Describe the screenshot captured and convert it into a single, complete sentence using the SSM (Subject, Style, Mood) structure. \n\nThe output should describe what is visually represented or implied by the screenshot, and translate it into an AI image prompt suitable for Flus.Dev Ensure the sentence includes a subject (what or who is in the image), a visual style (e.g. cinematic editorial, 3D render), and a mood or atmosphere (e.g. tense, calm, inspiring). \n\nDo not use line breaks, avoid quotation marks (\"\" or ''), and keep the sentence optimized for token usage to avoid breaking JSON requests. ",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        60,
        620
      ],
      "id": "3936c909-d869-4a4f-9bd4-cec0ee1cdfbb",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "{{ CREDENTIAL_ID }}",
          "name": "{{ CREDENTIAL_NAME }}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull the content field from the Analyse Image module\nconst content = $json.content || '';\n\n// Strip ONLY double quotes (\") to protect JSON usage\nconst cleanContent = content.replace(/\"/g,'');\n\nreturn {cleanContent}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        400
      ],
      "id": "34dddb7d-c9ab-49c7-88a8-0e92097aca82",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/models/ideogram-ai/ideogram-v3-turbo/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ FIRECRAWL_API_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "wait"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"input\": {\n    \"prompt\": \"The text \\\"V3 Turbo\\\" in the center middle. A color film-inspired portrait of a young man looking to the side with a shallow depth of field that blurs the surrounding elements, drawing attention to his eye. The fine grain and cast suggest a high ISO film stock, while the wide aperture lens creates a motion blur effect, enhancing the candid and natural documentary style.\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        400
      ],
      "id": "a13dcf90-271c-4413-9a1d-054671df6d35",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        400
      ],
      "id": "f28e3dab-97ce-4514-99e9-f39215c0fe7c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        600
      ],
      "id": "eed56134-476f-4e9c-b4fe-8f5abaec69e5",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rRwkPJimEvb-B09Z_3v9xr3i1tbXMnES",
          "mode": "list",
          "cachedResultName": "Firecrawl Image Generator",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rRwkPJimEvb-B09Z_3v9xr3i1tbXMnES"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        520,
        600
      ],
      "id": "b84828e7-3b9e-466f-9f42-ebed8cc3d485",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{ CREDENTIAL_ID }}",
          "name": "{{ CREDENTIAL_NAME }}"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        600
      ],
      "id": "9a68d1ea-9776-4c96-8362-e86eb2f74448",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        140
      ],
      "id": "0c72a896-3ac8-4264-b58e-fc3716c93cd2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "{{ CREDENTIAL_ID }}",
          "name": "{{ CREDENTIAL_NAME }}"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.json.summary }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert AI writing assistant specialising in high-performing LinkedIn content.\n\nYour task is to analyse the article content below and produce:\n\n1. Executive Summary \u2014 a clear, concise paragraph summarising the key points.\n\n2. LinkedIn Post \u2014 a scroll-stopping post written in a professional, insightful tone.\n\n   - Hook (first 1\u20132 lines): Attention-grabbing, emotionally resonant, or controversial.\n   - Content (100\u2013200 words): Summarise the story and share its relevance or implications.\n   - Value: Share a takeaway, key learning, or unique angle.\n   - CTA (Call to Action): End with a question or statement that invites interaction.\n\nGuidelines:\n- Keep the post under 250 words.\n- Avoid hashtags unless essential.\n- Do not include links in the body \u2014 the reader should stay focused on the message.\n- Use concise, confident sentences.\n- Output in this structure:\n\nExecutive Summary:\n[Executive Summary]\n\nLinkedIn Post:\n[Linkedin Post]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        320,
        -20
      ],
      "id": "d0cc664d-dc2f-4c3e-b045-e83536556156",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Executive Summary\": \"Summarise the key points of the article here in 2\u20133 sentences, focusing on why it matters to decision-makers and professionals in AI or tech.\",\n  \"Linkedin Post\": \"\ud83d\udea8 Major disruption in the AI coding tools space...\\n\\nWindsurf, a rising star in AI-assisted development, says Anthropic has abruptly cut its direct access to Claude 3.x models \u2013 just weeks after being left out of the Claude 4 rollout. The short notice and limited fallback options are causing serious challenges for users and developers.\\n\\nThis move raises big questions:\\n- Are model providers becoming gatekeepers?\\n- What happens when innovation relies on opaque partnerships?\\n\\nOptionality and model access are becoming core issues for AI startups.\\n\\n\ud83d\udc40 If you\u2019re building with AI or integrating Claude/GPT, this is one to watch.\\n\\nWhat do you think \u2013 should model providers be more open or protect their performance edge?\\n\\n#AI #Claude #Anthropic #Windsurf #DeveloperTools\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        400,
        140
      ],
      "id": "339553c6-1732-427f-9d7a-99fb9d5c04ac",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ FIRECRAWL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('When chat message received').item.json.chatInput }}\",\n  \"formats\": [\n    \"json\",\n    \"screenshot\"\n  ],\n  \"onlyMainContent\": true,\n  \"waitFor\": 2000,\n  \"removeBase64Images\": true,\n  \"blockAds\": true,\n  \"proxy\": \"auto\",\n  \"storeInCache\": true,\n  \"screenshotOptions\": {\n    \"fullPage\": true\n  },\n  \"jsonOptions\": {\n    \"prompt\": \"Summarise this article for business professionals.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        500
      ],
      "id": "0e3ab882-d71d-4e80-a802-8f693ab32157",
      "name": "Firecrawl Screenshot Scrape"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ FIRECRAWL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.chatInput }}\",\n  \"formats\": [ \"json\" ],\n  \"onlyMainContent\": true,\n  \"waitFor\": 6000,\n  \"removeBase64Images\": true,\n  \"blockAds\": true,\n  \"proxy\": \"auto\",\n  \"storeInCache\": true,\n  \"jsonOptions\": {\n    \"prompt\": \"Extract the Medium article's title, author name, publication date, and summary.\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        40
      ],
      "id": "b9a269cc-60df-485a-8dc9-2c87d854a538",
      "name": "Firecrawl Website Crawler"
    },
    {
      "parameters": {
        "content": "## Source\n[Alex Followell](https://www.youtube.com/watch?v=L5rlPxg34gA)",
        "height": 100,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        460
      ],
      "id": "d16ed6b2-bdd0-4092-98ec-23c5d6bdfe89",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qM6JJYFwhFByYXTnPLR-y0E0OWVfdHGw01fFrc73nO0",
          "mode": "list",
          "cachedResultName": "Firecrawl: Scraped Website Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qM6JJYFwhFByYXTnPLR-y0E0OWVfdHGw01fFrc73nO0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qM6JJYFwhFByYXTnPLR-y0E0OWVfdHGw01fFrc73nO0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin Post",
              "displayName": "Linkedin Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Screenshot 1",
              "displayName": "Screenshot 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Screenshot 2",
              "displayName": "Screenshot 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Screenshot 3",
              "displayName": "Screenshot 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        960,
        0
      ],
      "id": "0ce0d73b-72e7-48d2-9d46-00473298b48e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{{ CREDENTIAL_ID }}",
          "name": "{{ CREDENTIAL_NAME }}"
        }
      }
    }
  ],
  "pinData": {
    "Basic LLM Chain": [
      {
        "json": {
          "output": {
            "Executive Summary": "Google has initiated voluntary buyouts for U.S.-based employees across several departments as part of broader cost-cutting efforts. This move follows previous layoffs and comes alongside a stricter return-to-office mandate for employees living near company offices. The changes reflect CFO Anat Ashkenazi\u2019s drive for operational efficiency and a strategic shift toward prioritizing AI infrastructure. Employees in the Knowledge & Information unit\u2014comprised of around 20,000 staff\u2014were encouraged by leadership to take the buyout if they feel disengaged, pointing to a renewed focus on energised teams and increased executional velocity heading into 2025.",
            "Linkedin Post": "Google is sending a clear message: focus, speed, and alignment are non-negotiable.\n\nThis week, Google offered voluntary buyouts to U.S. employees across multiple divisions. It\u2019s not a layoff\u2014yet\u2014but it echoes last year\u2019s deep cuts and signals a continued shift in priorities.\n\nEmployees have also been told: if you live within 50 miles of an office, come in. Hybrid work isn't optional anymore. And inside the Knowledge & Information unit, leaders are urging disengaged staff to take the buyout and make space for those ready to push forward.\n\nThe subtext? Google is streamlining for one thing: AI. Every step\u2014from workforce reshaping to resource reallocation\u2014points to the company doubling down on executional velocity and product focus heading into 2025.\n\nFor leaders, the takeaway is powerful: Transformational focus often requires tough decisions. Culture shifts, workforce realignments, and clear priorities must work in concert to meet new-tech demands.\n\nWould you take the buyout\u2014or lean in harder to the mission ahead?"
          }
        }
      }
    ],
    "Firecrawl Website Crawler": [
      {
        "json": {
          "success": true,
          "data": {
            "metadata": {
              "og:description": "The internet giant has offered buyouts to another swath of its workforce across several key divisions in a fresh round of cost-cutting coming ahead of a court decision that could order a breakup of its internet empire.",
              "language": "en",
              "ogDescription": "The internet giant has offered buyouts to another swath of its workforce across several key divisions in a fresh round of cost-cutting coming ahead of a court decision that could order a breakup of its internet empire.",
              "og:title": "Google offers buyouts to more workers amid AI-driven tech upheaval and antitrust uncertainty",
              "og:site_name": "Ground News",
              "twitter:site": "@Ground_app",
              "ogSiteName": "Ground News",
              "twitter:title": "Google offers buyouts to more workers amid AI-driven tech upheaval and antitrust uncertainty",
              "next-size-adjust": "",
              "ogTitle": "Google offers buyouts to more workers amid AI-driven tech upheaval and antitrust uncertainty",
              "description": "The internet giant has offered buyouts to another swath of its workforce across several key divisions in a fresh round of cost-cutting coming ahead of a court decision that could order a breakup of its internet empire.",
              "favicon": "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22280%22 height=%22280%22 viewBox=%220 0 280 280%22><path transform=%22translate(97.3,0)%22 d=%22M44,140.1h42.8V272H54.9c0-0.1,0-103.8,0-103.8H44V140.1z M44,1c28.4,0,42.6,16.2,42.6,42.2v66.1H54.9V43.8 c0-7.2-3.1-11.7-10.6-11.7c-7,0-10.6,4.2-10.6,11.7c0,0,0,228.1,0,228.2H0.2c0-0.5,0-228.8,0-228.8C0.1,16.8,14.8,1,44,1L44,1z%22/><style>path { fill: %23262626 } @media (prefers-color-scheme: dark) { path { fill: %23EEEFE9 } }</style></svg>",
              "title": "Google offers buyouts to more workers amid AI-driven tech upheaval and antitrust uncertainty",
              "twitter:description": "The internet giant has offered buyouts to another swath of its workforce across several key divisions in a fresh round of cost-cutting coming ahead of a court decision that could order a breakup of its internet empire.",
              "application-ld+json": "{\"@context\":\"https://schema.org\",\"@type\":\"NewsArticle\",\"headline\":\"Google offers buyouts to more workers amid AI-driven tech upheaval and antitrust uncertainty\",\"image\":[\"https://groundnews.b-cdn.net/assets/admin/2025/5/464919f66c1da5c396954ea4ea759adcb935a9c1.jpg\"],\"datePublished\":\"2025-06-12T00:53:00.000Z\",\"dateModified\":\"2025-06-12T12:47:01.000Z\",\"author\":{\"@type\":\"Organization\",\"name\":\"WLWT\",\"logo\":{\"@type\":\"ImageObject\",\"url\":\"https://groundnews.b-cdn.net/interests/c4b5299a63d3e57869d9208de4fcd9759bbca58f.jpg\"}},\"publisher\":{\"@type\":\"Organization\",\"name\":\"Ground News\",\"logo\":{\"@type\":\"ImageObject\",\"url\":\"https://images.squarespace-cdn.com/content/5ab2f1284cde7a5541519af3/1599146432089-GZWJ1H4AH2CADTHMND45/Dark+logo+no+outline.png?format=1000w&content-type=image%2Fpng\"}}}",
              "ogImage": "https://web-api-cdn.ground.news/api/v04/images/story/b96b78d6-c896-409f-8c59-ec7a7ddfcc04/webMetaImg?v=1",
              "twitter:image": "https://web-api-cdn.ground.news/api/v04/images/story/b96b78d6-c896-409f-8c59-ec7a7ddfcc04/webMetaImg?v=1&forTwitter=true",
              "twitter:card": "summary_large_image",
              "viewport": "width=device-width, initial-scale=1",
              "og:image": "https://web-api-cdn.ground.news/api/v04/images/story/b96b78d6-c896-409f-8c59-ec7a7ddfcc04/webMetaImg?v=1",
              "scrapeId": "67530347-1e4c-4e00-8f74-72ee2f087de9",
              "sourceURL": "https://ground.news/article/google-offers-buyouts-to-more-workers-amid-ai-driven-tech-upheaval-and-antitrust-uncertainty",
              "url": "https://ground.news/article/google-offers-buyouts-to-more-workers-amid-ai-driven-tech-upheaval-and-antitrust-uncertainty",
              "statusCode": 200,
              "contentType": "text/x-component",
              "proxyUsed": "basic"
            },
            "json": {
              "title": "Google offers buyouts to more workers amid AI-driven tech upheaval and antitrust uncertainty",
              "author": "NBC New York",
              "publicationDate": "2025-06-10",
              "summary": "Google offered voluntary buyouts to U.S.-based employees across multiple divisions on Tuesday as part of ongoing cost-cutting efforts. These buyouts followed previous large layoffs of around 12,000 employees in 2023 and additional cuts in 2024 amid a drive to reduce costs, initiated by finance chief Anat Ashkenazi. Alongside buyouts, Google expanded its return-to-office mandate requiring remote employees within 50 miles of an office to adopt a hybrid schedule to boost in-person collaboration. Nick Fox, leading the reorganized Knowledge & Information unit with about 20,000 staff, advised disengaged employees to consider the buyout while encouraging enthusiastic workers to remain. These measures reflect Google's strategy to reallocate resources toward AI infrastructure amid strong demand and aiming to increase operational focus and velocity in 2025."
            }
          }
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Firecrawl Website Crawler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Screenshot Scrape": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Website Crawler": {
      "main": [
        [
          {
            "node": "Firecrawl Screenshot Scrape",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ddef8326-ddd7-4109-aef0-bae48c68c38b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "529d3bc8e17069f24d690f96cc5ee9be68d03f7366bb114ddb76b5c3e8f797b0"
  },
  "id": "VQ7tBSf7crKubFRL",
  "tags": []
}